
a{
text-decoration: none;
color:bisque
}

.list{
    text-align: center;
    background-color: darkgrey;
    padding:10px;
    border-radius:10px
}

.events{
    display:flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color:var( ---highlight)
}
