

.products{



 text-align: center;
 justify-content: center;
 display: flex;
 align-items: center;
 text-decoration: none;
 
 

}
.productsList{
    background-color: aliceblue;
    border-radius: 10px;
    width: 25%;

}
a{
color:rgb(225, 225, 14);
text-decoration: none;

}



a:hover{
    color:rgb(234, 180, 54)
}